.panel-login {
	width: 40%;
	float: right;
	height: 900px;
}

.formLogin {
	text-align:center;
	background-color:#F0F0F0;
	padding: 70px 50px 20px 20%;
	margin-top: 30%;
	border-radius:10px;
}

.fotoLogin{
	
	 width: 130px;
	 height: 130px;
	 border-radius: 100px;
}
.ui-widget-header{
	color: white;
	text-shadow:none;
}